openocd/
pico-examples/
pico-playground/
pico-extras/
picoprobe/
picotool/
docs/
src/build/

nohup.out
.envrc

/kicad/controller/controller-backups/
*.kicad_pcb.lck
*.kicad_sch.lck

!./src/build/synth/synth.uf2
!./src/build/synth/synth.elf
!./src/build/synth/deploy.sh


