openocd/
pico-examples/
pico-playground/
pico-extras/
picoprobe/
picotool/
docs/
src/build/

nohup.out
.envrc

!src/build/synth/synth.uf2
!src/build/synth/synth.elf
!src/build/synth/deploy.sh
!src/build/controller/controller.uf2
!src/build/controller/controller.elf
!src/build/controller/deploy.sh
